---
import type { CollectionEntry } from 'astro:content';
interface Props {
  post: CollectionEntry<'writing'> | CollectionEntry<'projects'> | CollectionEntry<'hiking'>,
  showDate?: boolean
}

const { post, showDate = false } = Astro.props;
---

<li>
  <h3>
    <a href={`/${post.collection}/${post.slug}`}>{post.data.title}</a>
  </h3>
  {post.data.description && <span>{post.data.description}</span>}
  {
    showDate && (
      <time datetime={post.data.pubDate.toISOString()}>
        {post.data.pubDate.toLocaleDateString("en-au")}
      </time>
    )
  }
</li>
<style>
  h3 {
    margin: 0;
    font-size: 1.5rem;
  }

  time {
    display: block;
    font-size: 1rem;
  }
</style>
