---
import type { CollectionEntry } from "astro:content";
import { getRelativeTime } from "../utils";
import SvgMap from "./SvgMap.astro";
interface Props {
  post:
    | CollectionEntry<"projects">
    | CollectionEntry<"hiking">
    | CollectionEntry<"writing">;
  showDate?: boolean;
}

const { post, showDate = true } = Astro.props;
---

<li class="post">
  <a class="postLink" href={`/${post.collection}/${post.slug}`}>
    <article>
      <header class="postHeader">
        <h3>
          {post.data.title}
        </h3>
        {
          showDate && (
            <time datetime={post.data.pubDate.toISOString()}>
              {getRelativeTime(post.data.pubDate.getTime())}
            </time>
          )
        }
      </header>
      {post.data.description && <span>{post.data.description}</span>}
      <ul class="tags">
        {post.data.tags.map((tag) => <li>#{tag}</li>)}
      </ul>
    </article>
    {
      "geoJson" in post.data && post.data.geoJson && (
        <div class="map">
          <SvgMap geoJson={post.data.geoJson} />
        </div>
      )
    }
  </a>
</li>
<style>
  .post {
    margin-bottom: 1.5rem;
    container: post / inline-size;
    position: relative;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
  }

  :global(.theme-dark) .post {
    background: rgba(0, 0, 0, 0.2);
  }

  .postHeader {
    margin: 0 0 1rem;
  }

  @container post (min-width: 540px) {
    /* .postHeader {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: space-between;
    } */
  }
  .postLink {
    text-decoration: none;
    padding: 1rem;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  @container post (min-width: 540px) {
    .postLink {
      padding: 2rem;
    }
  }

  article {
    flex: 1;
  }

  h3 {
    margin: 0 0 1rem;
    font-size: 1.25rem;
  }

  @container post (min-width: 540px) {
    h3 {
      font-size: 1.5rem;
    }
  }

  time {
    display: block;
    font-size: 0.9rem;
    opacity: 0.7;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 0.5rem 1rem;
    padding: 0;
    margin-top: 1rem;
    font-size: 0.9rem;
    opacity: 0.7;
  }

  .map {
    width: 20rem;
  }

  @container post (max-width: 540px) {
    .map {
      width: 100%;
      max-height: 12rem;
    }
  }
</style>
