---
import type { CollectionEntry } from "astro:content";

import Layout from "./Layout.astro";
import Tags from "../components/Tags.astro";
import Tweet from "../components/Tweet.astro";
import StructuredData from "../components/StructuredData.astro";

interface Props {
  data: CollectionEntry<"projects">["data"];
}

const { data } = Astro.props;
---

<Layout
  title={data.title}
  backLabel="All Projects"
  backURL="/projects/"
  description={data.description}
>
  <StructuredData data={data} />
  <article>
    <h1>{data.title}</h1>
    {data.tweets?.length && data.tweets.map((tweet) => <Tweet tweet={tweet} />)}
    <slot />
    <footer>
      {data.tags?.length && <Tags tags={data.tags} />}
    </footer>
  </article>
</Layout>
